<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
   <h1 th:text="${titulo}"></h1>

    <div>
	  <a th:href="@{/list}">Volver</a>   
	   
      <form th:action="@{/form}" method="post" th:object="${employee}">
         <input  th:if="${employee.id != null}" type="hidden" th:field="*{id}"/>

        <div>
          <label for="firstName" >First Name:</label>
          <input type="text"  th:field="*{firstName}"/>
          <div>
	          <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" ></small>
          </div>
        </div>
        
        <div>
          <label for="lastName">Last Name:</label>
          <input type="text" th:field="*{lastName}"/>
		  <div>
	          <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
		  </div>          
        </div>
        
        <div>
          <label for="createAt">Create At:</label>
          <input type="date" th:field="*{createAt}" />
          <div>
	          <small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
          </div>
        </div>
        
        <div>
          <input type="submit" th:value="${boton}"/>
        </div>

      </form>
    </div>
</body>
</html>