<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<p>
    <a th:href="@{/form}">Crear +</a>
</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Create At</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="e: ${employees}">
            <td th:text="${e.id}" ></td>
            <td th:text="${e.firstName}"></td>
            <td th:text="${e.lastName}"></td>
            <td th:text="${e.createAt}"></td>
            <td>
                <a th:href="@{/form/} + ${e.id}">Edit</a>
            </td>
            <td>
                <a th:href="@{/eliminar/} + ${e.id}" onclick="return confirm('¿Está seguro de eliminar el employee?')">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>